In [1]:
import pandas as pd
import os
import datetime
# path1 = os.path.join(os.path.join(os.getcwd(), "../nextbike/data"), "input/rain.csv")
# path2 = os.path.join(os.path.join(os.getcwd(), "../nextbike/data"), "input/temp.csv")
path1 = "D:\Eigene Dateien\OneDrive\Dokumente\GitHub\PDS_Project/nextbike/data/input/rain2019.csv"
path2 = "D:\Eigene Dateien\OneDrive\Dokumente\GitHub\PDS_Project/nextbike/data/input/temp2019.csv"
path3 = "D:\Eigene Dateien\OneDrive\Dokumente\GitHub\PDS_Project/nextbike/data/input/weather2019.csv"
path4 = "D:\Eigene Dateien\OneDrive\Dokumente\GitHub\PDS_Project/nextbike/data/output/Trips.csv"

In [20]:
print(path2)

D:\Eigene Dateien\OneDrive\Dokumente\GitHub\PDS_Project/nextbike/data/input/temp2019.csv

In [120]:

df_rain = pd.read_csv(path1, sep=";")
df_temp = pd.read_csv(path2, sep=";")
df_weather = pd.concat([df_rain, df_temp], axis=1)
df_weather.drop(["DateTemp"], axis=1, inplace=True)
    
# df_trips['rain'] = df_trips.apply(lambda row: geodis.distance((row['Latitude_end'],row['Longitude_end']), uni).km, axis=1)

In [123]:
df_weather

      Unnamed: 0           Start_Time rain(mm) Temp(C)
0              0  2019-01-01 01:00:00        0     6,1
1              1  2019-01-01 02:00:00        0     6,1
2              2  2019-01-01 03:00:00        0     6,0
3              3  2019-01-01 04:00:00        0     6,0
4              4  2019-01-01 05:00:00        0     5,9
...          ...                  ...      ...     ...
8754        8754  2019-12-31 19:00:00        0     1,3
8755        8755  2019-12-31 20:00:00        0     1,4
8756        8756  2019-12-31 21:00:00        0     1,0
8757        8757  2019-12-31 22:00:00        0     0,6
8758        8758  2019-12-31 23:00:00        0     0,4

[8759 rows x 4 columns]

In [80]:
df_weather.to_csv(path3)

In [2]:
df_weather = pd.read_csv(path3)

In [3]:
df_weather

      OwnIndex                 Date  rain(mm)  Temp(C)
0            0  2019-01-01 01:00:00       0.0      6.1
1            1  2019-01-01 02:00:00       0.0      6.1
2            2  2019-01-01 03:00:00       0.0      6.0
3            3  2019-01-01 04:00:00       0.0      6.0
4            4  2019-01-01 05:00:00       0.0      5.9
...        ...                  ...       ...      ...
8754      8754  2019-12-31 19:00:00       0.0      1.3
8755      8755  2019-12-31 20:00:00       0.0      1.4
8756      8756  2019-12-31 21:00:00       0.0      1.0
8757      8757  2019-12-31 22:00:00       0.0      0.6
8758      8758  2019-12-31 23:00:00       0.0      0.4

[8759 rows x 4 columns]

In [4]:
df_weather = df_weather.drop(["OwnIndex"], axis=1)

In [5]:
df_weather

                     Date  rain(mm)  Temp(C)
0     2019-01-01 01:00:00       0.0      6.1
1     2019-01-01 02:00:00       0.0      6.1
2     2019-01-01 03:00:00       0.0      6.0
3     2019-01-01 04:00:00       0.0      6.0
4     2019-01-01 05:00:00       0.0      5.9
...                   ...       ...      ...
8754  2019-12-31 19:00:00       0.0      1.3
8755  2019-12-31 20:00:00       0.0      1.4
8756  2019-12-31 21:00:00       0.0      1.0
8757  2019-12-31 22:00:00       0.0      0.6
8758  2019-12-31 23:00:00       0.0      0.4

[8759 rows x 3 columns]

In [225]:
df_weather.drop(["Unnamed: 0"], axis=1, inplace=True)

In [165]:
df_weather["rain(mm)"] = df_weather["rain(mm)"].replace({"-":"0"})

In [171]:
df_weather["rain(mm)"] = df_weather["rain(mm)"].replace({"-":"0"})

In [184]:
df_weather["Temp(C)"] = df_weather["Temp(C)"].fillna(method="bfill")

In [183]:
df_test.tail(50)

8709    -4,8
8710    -4,8
8711    -4,8
8712    -4,8
8713    -4,8
8714    -4,8
8715    -4,8
8716    -4,8
8717    -4,8
8718    -4,8
8719    -4,8
8720    -4,5
8721    -2,2
8722    -0,3
8723     1,4
8724     3,2
8725     4,6
8726     5,3
8727     5,1
8728     3,3
8729     2,2
8730     0,0
8731    -0,2
8732     0,0
8733     0,1
8734     0,4
8735     0,0
8736    -1,4
8737    -1,1
8738    -1,4
8739    -1,7
8740    -1,8
8741    -2,4
8742    -2,3
8743    -3,0
8744    -3,3
8745    -1,6
8746     0,1
8747     1,5
8748     2,2
8749     2,7
8750     3,0
8751     2,8
8752     2,3
8753     1,6
8754     1,3
8755     1,4
8756     1,0
8757     0,6
8758     0,4
Name: Temp(C), dtype: object

In [185]:
df_weather.tail(50)

                    Date rain(mm) Temp(C)
8709 2019-12-29 22:00:00        0    -4,8
8710 2019-12-29 23:00:00        0    -4,8
8711 2019-12-30 00:00:00        0    -4,8
8712 2019-12-30 01:00:00        0    -4,8
8713 2019-12-30 02:00:00        0    -4,8
8714 2019-12-30 03:00:00        0    -4,8
8715 2019-12-30 04:00:00        0    -4,8
8716 2019-12-30 05:00:00        0    -4,8
8717 2019-12-30 06:00:00        0    -4,8
8718 2019-12-30 07:00:00        0    -4,8
8719 2019-12-30 08:00:00        0    -4,8
8720 2019-12-30 09:00:00        0    -4,5
8721 2019-12-30 10:00:00        0    -2,2
8722 2019-12-30 11:00:00        0    -0,3
8723 2019-12-30 12:00:00        0     1,4
8724 2019-12-30 13:00:00        0     3,2
8725 2019-12-30 14:00:00        0     4,6
8726 2019-12-30 15:00:00        0     5,3
8727 2019-12-30 16:00:00        0     5,1
8728 2019-12-30 17:00:00        0     3,3
8729 2019-12-30 18:00:00        0     2,2
8730 2019-12-30 19:00:00        0     0,0
8731 2019-12-30 20:00:00        0    -0,2
8732 2019-12-30 21:00:00        0     0,0
8733 2019-12-30 22:00:00        0     0,1
8734 2019-12-30 23:00:00        0     0,4
8735 2019-12-31 00:00:00        0     0,0
8736 2019-12-31 01:00:00        0    -1,4
8737 2019-12-31 02:00:00        0    -1,1
8738 2019-12-31 03:00:00        0    -1,4
8739 2019-12-31 04:00:00        0    -1,7
8740 2019-12-31 05:00:00        0    -1,8
8741 2019-12-31 06:00:00        0    -2,4
8742 2019-12-31 07:00:00        0    -2,3
8743 2019-12-31 08:00:00        0    -3,0
8744 2019-12-31 09:00:00        0    -3,3
8745 2019-12-31 10:00:00        0    -1,6
8746 2019-12-31 11:00:00        0     0,1
8747 2019-12-31 12:00:00        0     1,5
8748 2019-12-31 13:00:00        0     2,2
8749 2019-12-31 14:00:00        0     2,7
8750 2019-12-31 15:00:00        0     3,0
8751 2019-12-31 16:00:00        0     2,8
8752 2019-12-31 17:00:00        0     2,3
8753 2019-12-31 18:00:00        0     1,6
8754 2019-12-31 19:00:00        0     1,3
8755 2019-12-31 20:00:00        0     1,4
8756 2019-12-31 21:00:00        0     1,0
8757 2019-12-31 22:00:00        0     0,6
8758 2019-12-31 23:00:00        0     0,4

In [126]:
df_trips = pd.read_csv(path4)

In [186]:
df_trips

,index,p_spot_start,p_place_type_start,Start_Time,Bike_Number,p_uid_start,p_bikes_start,Latitude_start,b_bike_type_start,Place_start,...,Day_end,Hour_end,Minute_end,Day_of_year_end,Postalcode_start,Postalcode_end,Dist_start,Dist_end,Direction,Date
0,210276,True,0,2019-03-20 13:56:00,90000,66128,5,49.435580,71,Hst. Dutzendteich,...,20,14,56,79,90478,90478,3.260892,2.880538,True,2019-03-20 13:00:00
1,210734,True,0,2019-12-15 23:07:00,90001,66128,6,49.435605,71,Dutzendteich,...,15,23,7,349,90478,90478,3.261340,3.261340,False,2019-12-15 23:00:00
2,210735,True,0,2019-12-17 16:46:00,90001,66128,6,49.435605,71,Dutzendteich,...,17,16,46,351,90478,90478,3.261340,3.261340,False,2019-12-17 16:00:00
3,211354,True,0,2019-02-22 07:31:00,90004,66126,5,49.433693,4,Doku-Zentrum,...,22,7,31,53,90478,90478,3.066872,3.066872,False,2019-02-22 07:00:00
4,211355,True,0,2019-03-04 16:32:00,90004,66126,5,49.433693,4,Doku-Zentrum,...,4,16,32,63,90478,90478,3.066872,3.066872,False,2019-03-04 16:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185011,306497,False,12,2019-08-11 04:14:00,90238,20333073,1,49.399587,71,BIKE 90238,...,11,4,14,223,90469,90455,5.871916,6.806082,False,2019-08-11 04:00:00
185012,323784,False,12,2019-08-11 04:14:00,90281,20333075,1,49.399764,71,BIKE 90281,...,11,4,14,223,90469,90455,5.852610,6.802059,False,2019-08-11 04:00:00
185013,306498,False,12,2019-08-11 22:58:00,90238,20333199,1,49.390978,71,BIKE 90238,...,11,23,58,223,90455,90455,6.811314,6.811314,False,2019-08-11 22:00:00
185014,323785,False,12,2019-08-11 04:41:00,90281,20333200,1,49.390969,71,BIKE 90281,...,11,4,41,223,90455,90455,6.812484,6.803588,True,2019-08-11 04:00:00
185015,323786,False,12,2019-08-11 22:58:00,90281,20362937,1,49.391040,71,BIKE 90281,...,11,23,58,223,90455,90455,6.804560,6.804560,False,2019-08-11 22:00:00

In [128]:
df_trips["Start_Time"] = pd.to_datetime(df_trips["Start_Time"], format="%Y-%m-%d %H:%M:%S")

In [ ]:
df_trips["Date"] = pd.to_datetime(df_trips["Start_Time"], format="%Y-%m-%d %H:%M:%S")

In [97]:
df_weather[df_weather["Temp(C)"].isna()]

Empty DataFrame
Columns: [Start_Time, rain(mm), Temp(C)]
Index: []

In [131]:
df_weather["Start_Time"] = pd.to_datetime(df_weather["Start_Time"], format="%Y-%m-%d %H:%M:%S")

In [ ]:
df_trips["Start_Time"] = pd.to_datetime(df_weather["Start_Time"], format="%Y-%m-%d %H:%M:%S")

In [78]:
df_weather.rename({"Date":"Start_Time"}, axis=1, inplace=True)

In [146]:
df_weather.rename({"Start_Time":"Date"}, axis=1, inplace=True)

In [132]:
type(df_trips["Start_Time"][1])

pandas._libs.tslibs.timestamps.Timestamp

In [134]:
df_trips["Date"] = df_trips["Start_Time"].replace(minute=0)

TypeError: replace() got an unexpected keyword argument 'minute'

In [141]:
df_trips["Date"] = (df_trips["Start_Time"].dt.date.astype(str) +" "+ df_trips["Start_Time"].dt.hour.astype(str)+":00:00")

In [143]:
df_trips["Date"] = pd.to_datetime(df_trips["Date"], format="%Y-%m-%d %H:%M:%S")

In [144]:
df_trips.head(5)

,index,p_spot_start,p_place_type_start,Start_Time,Bike_Number,p_uid_start,p_bikes_start,Latitude_start,b_bike_type_start,Place_start,...,Day_end,Hour_end,Minute_end,Day_of_year_end,Postalcode_start,Postalcode_end,Dist_start,Dist_end,Direction,Date
0,210276,True,0,2019-03-20 13:56:00,90000,66128,5,49.435580,71,Hst. Dutzendteich,...,20,14,56,79,90478,90478,3.260892,2.880538,True,2019-03-20 13:00:00
1,210734,True,0,2019-12-15 23:07:00,90001,66128,6,49.435605,71,Dutzendteich,...,15,23,7,349,90478,90478,3.261340,3.261340,False,2019-12-15 23:00:00
2,210735,True,0,2019-12-17 16:46:00,90001,66128,6,49.435605,71,Dutzendteich,...,17,16,46,351,90478,90478,3.261340,3.261340,False,2019-12-17 16:00:00
3,211354,True,0,2019-02-22 07:31:00,90004,66126,5,49.433693,4,Doku-Zentrum,...,22,7,31,53,90478,90478,3.066872,3.066872,False,2019-02-22 07:00:00
4,211355,True,0,2019-03-04 16:32:00,90004,66126,5,49.433693,4,Doku-Zentrum,...,4,16,32,63,90478,90478,3.066872,3.066872,False,2019-03-04 16:00:00

In [108]:
df_trips["Month_start"].unique()

array([ 3, 12,  2,  6,  9,  8, 10,  4, 11,  1], dtype=int64)

In [187]:
df = pd.merge(df_trips, df_weather, how="left", on=["Date"])

In [192]:
df.drop("Date", axis=1, inplace=True)

In [193]:
df

,index,p_spot_start,p_place_type_start,Start_Time,Bike_Number,p_uid_start,p_bikes_start,Latitude_start,b_bike_type_start,Place_start,...,Hour_end,Minute_end,Day_of_year_end,Postalcode_start,Postalcode_end,Dist_start,Dist_end,Direction,rain(mm),Temp(C)
0,210276,True,0,2019-03-20 13:56:00,90000,66128,5,49.435580,71,Hst. Dutzendteich,...,14,56,79,90478,90478,3.260892,2.880538,True,0,"9,3"
1,210734,True,0,2019-12-15 23:07:00,90001,66128,6,49.435605,71,Dutzendteich,...,23,7,349,90478,90478,3.261340,3.261340,False,0,"7,2"
2,210735,True,0,2019-12-17 16:46:00,90001,66128,6,49.435605,71,Dutzendteich,...,16,46,351,90478,90478,3.261340,3.261340,False,0,"10,3"
3,211354,True,0,2019-02-22 07:31:00,90004,66126,5,49.433693,4,Doku-Zentrum,...,7,31,53,90478,90478,3.066872,3.066872,False,0,"8,0"
4,211355,True,0,2019-03-04 16:32:00,90004,66126,5,49.433693,4,Doku-Zentrum,...,16,32,63,90478,90478,3.066872,3.066872,False,0,"10,9"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185011,306497,False,12,2019-08-11 04:14:00,90238,20333073,1,49.399587,71,BIKE 90238,...,4,14,223,90469,90455,5.871916,6.806082,False,0,"15,4"
185012,323784,False,12,2019-08-11 04:14:00,90281,20333075,1,49.399764,71,BIKE 90281,...,4,14,223,90469,90455,5.852610,6.802059,False,0,"15,4"
185013,306498,False,12,2019-08-11 22:58:00,90238,20333199,1,49.390978,71,BIKE 90238,...,23,58,223,90455,90455,6.811314,6.811314,False,0,"18,2"
185014,323785,False,12,2019-08-11 04:41:00,90281,20333200,1,49.390969,71,BIKE 90281,...,4,41,223,90455,90455,6.812484,6.803588,True,0,"15,4"
185015,323786,False,12,2019-08-11 22:58:00,90281,20362937,1,49.391040,71,BIKE 90281,...,23,58,223,90455,90455,6.804560,6.804560,False,0,"18,2"

In [217]:
df.to_csv(path4)

In [211]:
df["Temp(C)"]=df["Temp(C)"].str.replace(",",".").astype(float)

In [214]:
df["rain(mm)"]=df["rain(mm)"].str.replace(",",".").astype(float)

In [195]:
path4

'D:\\Eigene Dateien\\OneDrive\\Dokumente\\GitHub\\PDS_Project/nextbike/data/output/Trips.csv'

In [215]:
df.tail(50)

,index,p_spot_start,p_place_type_start,Start_Time,Bike_Number,p_uid_start,p_bikes_start,Latitude_start,b_bike_type_start,Place_start,...,Hour_end,Minute_end,Day_of_year_end,Postalcode_start,Postalcode_end,Dist_start,Dist_end,Direction,rain(mm),Temp(C)
184966,301840,False,12,2019-08-09 03:26:00,90225,20243648,1,49.430120,71,BIKE 90225,...,3,26,221,90461,90451,2.499623,5.308698,False,0.0,13.8
184967,289359,False,12,2019-10-10 02:21:00,90195,23187241,1,49.452293,71,BIKE 90195,...,3,21,283,90429,90451,1.959443,5.439134,False,0.0,8.6
184968,289559,True,0,2019-06-28 07:33:00,90196,66124,5,49.453567,71,Bärenschanze,...,7,33,179,90429,90451,2.293119,4.421091,False,0.0,17.9
184969,298038,True,0,2019-08-15 19:03:00,90216,66121,2,49.450868,71,Gostenhof,...,19,3,227,90429,90451,1.743259,4.974773,False,0.0,20.3
184970,303535,False,12,2019-06-18 05:38:00,90229,17548023,1,49.449911,71,BIKE 90229,...,6,38,169,90429,90451,1.765469,4.421091,False,0.0,14.1
184971,263707,False,12,2019-09-09 15:31:00,90133,21741306,1,49.462996,71,BIKE 90133,...,15,31,252,90419,90451,1.520137,4.421091,False,0.0,14.8
184972,299623,False,12,2019-08-01 00:10:00,90220,19866871,1,49.452200,71,BIKE 90220,...,0,10,213,90403,90451,0.270494,6.522608,False,0.0,17.5
184973,318917,False,12,2019-08-22 09:12:00,90269,20812323,1,49.456773,71,BIKE 90269,...,9,12,234,90403,90451,0.730535,4.421091,False,0.0,18.2
184974,242209,False,12,2019-08-27 07:08:00,90079,21060462,1,49.446280,71,BIKE 90079,...,7,8,239,90443,90451,0.666923,4.909025,False,0.0,16.8
184975,338122,False,12,2019-06-14 00:05:00,90316,17303045,1,49.446267,71,BIKE 90316,...,0,5,165,90443,90451,0.666779,7.173516,False,0.0,13.7
184976,212568,True,0,2019-06-21 19:31:00,90009,15250895,5,49.443982,71,St. Leonhard,...,20,31,172,90439,90451,2.035886,4.428722,False,0.0,24.8
184977,224349,True,0,2019-08-18 13:46:00,90037,15250895,6,49.443982,71,St. Leonhard,...,14,46,230,90439,90451,2.035886,4.397656,False,0.0,28.4
184978,290034,True,0,2019-08-18 13:46:00,90197,15250895,6,49.443982,71,St. Leonhard,...,14,46,230,90439,90451,2.035886,4.395695,False,0.0,28.4
184979,344149,True,0,2019-06-21 19:25:00,90331,15250895,5,49.443982,71,St. Leonhard,...,20,25,172,90439,90451,2.035886,4.422214,False,0.0,24.8
184980,361206,True,0,2019-09-12 11:34:00,90378,15250895,2,49.443982,71,St. Leonhard,...,12,34,255,90439,90451,2.035886,6.156143,False,0.0,21.1
184981,379797,True,0,2019-09-30 19:57:00,90436,15250895,8,49.443982,71,St. Leonhard,...,20,57,273,90439,90451,2.035886,4.682786,False,0.0,13.9
184982,304988,False,12,2019-09-29 14:38:00,90233,22751367,1,49.453467,71,BIKE 90233,...,15,38,272,90431,90451,4.699792,4.324056,True,0.0,20.7
184983,222543,False,12,2019-09-12 15:28:00,90033,21893925,1,49.420702,71,BIKE 90033,...,15,28,255,90441,90451,3.672132,5.849310,False,0.0,22.5
184984,222544,False,12,2019-09-13 06:21:00,90033,21927316,1,49.408382,71,BIKE 90033,...,6,21,256,90451,90451,5.824161,5.824161,False,0.0,11.5
184985,222545,False,12,2019-09-13 09:51:00,90033,21927316,1,49.408373,71,BIKE 90033,...,9,51,256,90451,90451,5.825474,5.825474,False,0.0,15.5
184986,227168,False,12,2019-10-17 14:47:00,90044,23575916,1,49.399822,71,BIKE 90044,...,14,47,290,90451,90451,5.936040,5.936040,False,0.0,18.8
184987,230199,False,12,2019-10-05 23:21:00,90051,23018462,1,49.396338,71,BIKE 90051,...,23,21,278,90451,90451,6.905496,6.905496,False,0.0,5.4
184988,230200,False,12,2019-10-06 23:27:00,90051,23038231,1,49.397951,71,BIKE 90051,...,23,27,279,90451,90451,6.717543,6.717543,False,0.4,7.5
184989,230201,False,12,2019-10-07 08:48:00,90051,23062099,1,49.397698,71,BIKE 90051,...,8,48,280,90451,90451,6.736109,6.736109,False,0.0,6.9
184990,230202,False,12,2019-10-07 13:32:00,90051,23062099,1,49.397973,71,BIKE 90051,...,13,32,280,90451,90451,6.716492,6.716492,False,0.0,9.3
184991,301841,False,12,2019-08-09 03:50:00,90225,20244092,1,49.405876,71,BIKE 90225,...,3,50,221,90451,90451,5.297970,5.297970,False,0.0,13.8
184992,304989,False,12,2019-09-29 15:26:00,90233,22754378,1,49.418400,71,BIKE 90233,...,15,26,272,90451,90451,4.313285,5.300832,False,0.0,21.3
184993,304990,False,12,2019-09-29 15:43:00,90233,22755311,1,49.405004,71,BIKE 90233,...,15,43,272,90451,90451,5.297059,5.295961,True,0.0,21.3
184994,310142,False,12,2019-10-20 11:59:00,90247,23720538,1,49.409889,71,BIKE 90247,...,12,59,293,90451,90451,5.218335,5.214132,True,0.0,12.9
184995,332535,False,12,2019-10-05 23:21:00,90302,23018651,1,49.398364,71,BIKE 90302,...,23,21,278,90451,90451,6.678732,6.678732,False,0.0,5.4
184996,332536,False,12,2019-10-06 13:38:00,90302,23018651,1,49.397991,71,Eibacher Hauptstraße 121,...,13,38,279,90451,90451,6.715213,6.714470,True,0.0,10.4
184997,332537,False,12,2019-10-06 23:27:00,90302,23050173,1,49.398062,71,BIKE 90302,...,23,27,279,90451,90451,6.716869,6.716869,False,0.4,7.5
184998,332538,False,12,2019-10-07 08:48:00,90302,23062995,1,49.398640,71,BIKE 90302,...,8,48,280,90451,90451,6.660209,6.660209,False,0.0,6.9
184999,332539,False,12,2019-10-07 13:32:00,90302,23062995,1,49.397836,71,BIKE 90302,...,13,32,280,90451,90451,6.744651,6.744651,False,0.0,9.3
185000,338123,False,12,2019-06-14 17:33:00,90316,17304167,1,49.393929,71,BIKE 90316,...,17,33,165,90451,90451,7.161590,7.161590,False,0.0,31.3
185001,338124,False,12,2019-06-15 02:43:00,90316,17304167,1,49.393778,71,BIKE 90316,...,2,43,166,90451,90451,7.176157,7.176157,False,0.0,18.5
185002,338125,False,12,2019-06-15 02:47:00,90316,17304167,1,49.393778,71,BIKE 90316,...,2,47,166,90451,90451,7.176157,7.176157,False,0.0,18.5
185003,338126,False,12,2019-06-15 08:35:00,90316,17304167,1,49.393978,71,BIKE 90316,...,8,35,166,90451,90451,7.157320,7.157320,False,0.0,23.5
185004,338127,False,12,2019-06-15 15:20:00,90316,17389307,1,49.394027,71,BIKE 90316,...,15,20,166,90451,90451,7.158593,7.158593,False,0.0,24.1
185005,338128,False,12,2019-06-15 17:31:00,90316,17389307,1,49.393742,71,BIKE 90316,...,17,31,166,90451,90451,7.181038,7.181038,False,0.0,24.3
185006,338129,False,12,2019-06-16 01:08:00,90316,17389307,1,49.393862,71,BIKE 90316,...,1,8,167,90451,90451,7.168953,7.168953,False,1.9,18.7
185007,338130,False,12,2019-06-16 05:43:00,90316,17389307,1,49.393698,71,BIKE 90316,...,5,43,167,90451,90451,7.179953,7.179953,False,0.0,16.1
185008,338131,False,12,2019-06-16 18:20:00,90316,17465690,1,49.394556,71,BIKE 90316,...,18,20,167,90451,90451,7.078460,7.078460,False,0.0,18.1
185009,338133,False,12,2019-06-18 01:11:00,90316,17472608,1,49.393884,71,BIKE 90316,...,1,11,169,90451,90451,7.162848,7.162848,False,0.0,19.4
185010,356040,False,12,2019-10-09 16:01:00,90364,23141580,1,49.390089,71,BIKE 90364,...,16,1,282,90451,90451,7.248669,7.248669,False,0.0,12.1
185011,306497,False,12,2019-08-11 04:14:00,90238,20333073,1,49.399587,71,BIKE 90238,...,4,14,223,90469,90455,5.871916,6.806082,False,0.0,15.4
185012,323784,False,12,2019-08-11 04:14:00,90281,20333075,1,49.399764,71,BIKE 90281,...,4,14,223,90469,90455,5.852610,6.802059,False,0.0,15.4
185013,306498,False,12,2019-08-11 22:58:00,90238,20333199,1,49.390978,71,BIKE 90238,...,23,58,223,90455,90455,6.811314,6.811314,False,0.0,18.2
185014,323785,False,12,2019-08-11 04:41:00,90281,20333200,1,49.390969,71,BIKE 90281,...,4,41,223,90455,90455,6.812484,6.803588,True,0.0,15.4
185015,323786,False,12,2019-08-11 22:58:00,90281,20362937,1,49.391040,71,BIKE 90281,...,23,58,223,90455,90455,6.804560,6.804560,False,0.0,18.2

In [189]:
len(df) - df.count()

index                 0
p_spot_start          0
p_place_type_start    0
Start_Time            0
Bike_Number           0
p_uid_start           0
p_bikes_start         0
Latitude_start        0
b_bike_type_start     0
Place_start           0
Start_Place_id        0
Longitude_start       0
p_bike_start          0
p_spot_end            0
p_place_type_end      0
End_Time              0
p_uid_end             0
p_bikes_end           0
Latitude_end          0
b_bike_type_end       0
Place_end             0
End_Place_id          0
Longitude_end         0
p_bike_end            0
Weekend               0
Duration              0
Month_start           0
Day_start             0
Hour_start            0
Minute_start          0
Day_of_year_start     0
Season                0
Month_end             0
Day_end               0
Hour_end              0
Minute_end            0
Day_of_year_end       0
Postalcode_start      0
Postalcode_end        0
Dist_start            0
Dist_end              0
Direction             0
Date                  0
rain(mm)              0
Temp(C)               0
dtype: int64

In [190]:
from nextbike import io

In [191]:
from nextbike import prediction

In [221]:
df_weather.tail(50)

                    Date  rain(mm)  Temp(C)
8709 2019-12-29 22:00:00       0.0     -4.8
8710 2019-12-29 23:00:00       0.0     -4.8
8711 2019-12-30 00:00:00       0.0     -4.8
8712 2019-12-30 01:00:00       0.0     -4.8
8713 2019-12-30 02:00:00       0.0     -4.8
8714 2019-12-30 03:00:00       0.0     -4.8
8715 2019-12-30 04:00:00       0.0     -4.8
8716 2019-12-30 05:00:00       0.0     -4.8
8717 2019-12-30 06:00:00       0.0     -4.8
8718 2019-12-30 07:00:00       0.0     -4.8
8719 2019-12-30 08:00:00       0.0     -4.8
8720 2019-12-30 09:00:00       0.0     -4.5
8721 2019-12-30 10:00:00       0.0     -2.2
8722 2019-12-30 11:00:00       0.0     -0.3
8723 2019-12-30 12:00:00       0.0      1.4
8724 2019-12-30 13:00:00       0.0      3.2
8725 2019-12-30 14:00:00       0.0      4.6
8726 2019-12-30 15:00:00       0.0      5.3
8727 2019-12-30 16:00:00       0.0      5.1
8728 2019-12-30 17:00:00       0.0      3.3
8729 2019-12-30 18:00:00       0.0      2.2
8730 2019-12-30 19:00:00       0.0      0.0
8731 2019-12-30 20:00:00       0.0     -0.2
8732 2019-12-30 21:00:00       0.0      0.0
8733 2019-12-30 22:00:00       0.0      0.1
8734 2019-12-30 23:00:00       0.0      0.4
8735 2019-12-31 00:00:00       0.0      0.0
8736 2019-12-31 01:00:00       0.0     -1.4
8737 2019-12-31 02:00:00       0.0     -1.1
8738 2019-12-31 03:00:00       0.0     -1.4
8739 2019-12-31 04:00:00       0.0     -1.7
8740 2019-12-31 05:00:00       0.0     -1.8
8741 2019-12-31 06:00:00       0.0     -2.4
8742 2019-12-31 07:00:00       0.0     -2.3
8743 2019-12-31 08:00:00       0.0     -3.0
8744 2019-12-31 09:00:00       0.0     -3.3
8745 2019-12-31 10:00:00       0.0     -1.6
8746 2019-12-31 11:00:00       0.0      0.1
8747 2019-12-31 12:00:00       0.0      1.5
8748 2019-12-31 13:00:00       0.0      2.2
8749 2019-12-31 14:00:00       0.0      2.7
8750 2019-12-31 15:00:00       0.0      3.0
8751 2019-12-31 16:00:00       0.0      2.8
8752 2019-12-31 17:00:00       0.0      2.3
8753 2019-12-31 18:00:00       0.0      1.6
8754 2019-12-31 19:00:00       0.0      1.3
8755 2019-12-31 20:00:00       0.0      1.4
8756 2019-12-31 21:00:00       0.0      1.0
8757 2019-12-31 22:00:00       0.0      0.6
8758 2019-12-31 23:00:00       0.0      0.4

In [219]:
df_weather["Temp(C)"]=df_weather["Temp(C)"].str.replace(",",".").astype(float)
df_weather["rain(mm)"]=df_weather["rain(mm)"].str.replace(",",".").astype(float)

In [222]:
df_weather.to_csv(path3)