In [25]:
#Imports
import os
import pandas as pd

In [26]:
#Get Data
print("Read data...")
path = os.path.join(os.path.join(os.getcwd(), "../nextbike/data"), "output/Trips.csv")
df = pd.read_csv(path)
df

Read data...

,Unnamed: 0,Start Time,Bike Number,Latitude_start,Place_start,Longitude_start,End Time,Latitude_end,Place_end,Longitude_end,inside
0,0,2019-06-29 08:32:00,11070,50.659925,BIKE 11070,8.734431,2019-06-29 08:35:00,50.659925,BIKE 11070,8.734431,False
1,1,2019-06-30 08:34:00,11070,50.659958,BIKE 11070,8.734533,2019-06-30 08:37:00,50.659958,BIKE 11070,8.734533,False
2,2,2019-08-13 17:43:00,11070,50.790362,Stadtbüro,8.766947,2019-08-13 17:59:00,50.778370,Cappel August-Bebel-Platz,8.767953,False
3,3,2019-08-13 20:03:00,11070,50.778370,Cappel August-Bebel-Platz,8.767953,2019-08-13 20:11:00,50.778370,Cappel August-Bebel-Platz,8.767953,False
4,4,2019-08-13 23:04:00,11070,50.778370,Cappel August-Bebel-Platz,8.767953,2019-08-13 23:11:00,50.778370,Cappel August-Bebel-Platz,8.767953,False
...,...,...,...,...,...,...,...,...,...,...,...
407573,407573,2019-08-07 15:06:00,91202,50.576662,BIKE 91202,8.692280,2019-08-07 15:14:00,50.573698,BIKE 91202,8.698214,False
407574,407574,2019-08-07 15:44:00,91202,50.573671,BIKE 91202,8.698499,2019-08-07 15:51:00,50.573671,BIKE 91202,8.698499,False
407575,407575,2019-08-08 11:11:00,91202,50.573716,BIKE 91202,8.697958,2019-08-08 11:13:00,50.573716,BIKE 91202,8.697958,False
407576,407576,2019-08-08 22:29:00,91202,50.573764,BIKE 91202,8.698237,2019-08-08 22:31:00,50.573764,BIKE 91202,8.698237,False
407577,407577,2019-08-09 03:50:00,91202,50.573529,BIKE 91202,8.698483,2019-08-09 03:55:00,50.573529,BIKE 91202,8.698483,False

In [27]:
df.columns

Index(['Unnamed: 0', 'Start Time', 'Bike Number', 'Latitude_start',
       'Place_start', 'Longitude_start', 'End Time', 'Latitude_end',
       'Place_end', 'Longitude_end', 'inside'],
      dtype='object')

In [30]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df

KeyError: "['Unnamed: 0'] not found in axis"

# Additional Columns
## 1. Weekend

In [50]:
df['Start Time'] = pd.to_datetime(df['Start Time'])
df['Weekend'] = (df['Start Time'].dt.dayofweek > 4)

# check if there are trips where a bike rental started on a weekday
# and was ended on a weekend or vice versa
df['End Time'] = pd.to_datetime(df['End Time'])
df['Weekend_End'] = (df['End Time'].dt.dayofweek > 4)
df

,Start Time,Bike Number,Latitude_start,Place_start,Longitude_start,End Time,Latitude_end,Place_end,Longitude_end,inside,Weekend,Weekend_End
0,2019-06-29 08:32:00,11070,50.659925,BIKE 11070,8.734431,2019-06-29 08:35:00,50.659925,BIKE 11070,8.734431,False,True,True
1,2019-06-30 08:34:00,11070,50.659958,BIKE 11070,8.734533,2019-06-30 08:37:00,50.659958,BIKE 11070,8.734533,False,True,True
2,2019-08-13 17:43:00,11070,50.790362,Stadtbüro,8.766947,2019-08-13 17:59:00,50.778370,Cappel August-Bebel-Platz,8.767953,False,False,False
3,2019-08-13 20:03:00,11070,50.778370,Cappel August-Bebel-Platz,8.767953,2019-08-13 20:11:00,50.778370,Cappel August-Bebel-Platz,8.767953,False,False,False
4,2019-08-13 23:04:00,11070,50.778370,Cappel August-Bebel-Platz,8.767953,2019-08-13 23:11:00,50.778370,Cappel August-Bebel-Platz,8.767953,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
407573,2019-08-07 15:06:00,91202,50.576662,BIKE 91202,8.692280,2019-08-07 15:14:00,50.573698,BIKE 91202,8.698214,False,False,False
407574,2019-08-07 15:44:00,91202,50.573671,BIKE 91202,8.698499,2019-08-07 15:51:00,50.573671,BIKE 91202,8.698499,False,False,False
407575,2019-08-08 11:11:00,91202,50.573716,BIKE 91202,8.697958,2019-08-08 11:13:00,50.573716,BIKE 91202,8.697958,False,False,False
407576,2019-08-08 22:29:00,91202,50.573764,BIKE 91202,8.698237,2019-08-08 22:31:00,50.573764,BIKE 91202,8.698237,False,False,False
407577,2019-08-09 03:50:00,91202,50.573529,BIKE 91202,8.698483,2019-08-09 03:55:00,50.573529,BIKE 91202,8.698483,False,False,False

In [53]:
# Check if Weekend Start & Weekend End values are unequal in some rows
df[df['Weekend'] != df['Weekend_End']]

Empty DataFrame
Columns: [Start Time, Bike Number, Latitude_start, Place_start, Longitude_start, End Time, Latitude_end, Place_end, Longitude_end, inside, Weekend, Weekend_End]
Index: []

### DECISION TO MAKE
Hopefully there are no rentals where weekend start was unequal to weekend end in our dataframe. But should we care about problems like this for future data? And if yes, how should we handle them?

## 2. Duration

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407578 entries, 0 to 407577
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Start Time       407578 non-null  datetime64[ns]
 1   Bike Number      407578 non-null  int64
 2   Latitude_start   407578 non-null  float64
 3   Place_start      407578 non-null  object
 4   Longitude_start  407578 non-null  float64
 5   End Time         407578 non-null  datetime64[ns]
 6   Latitude_end     407578 non-null  float64
 7   Place_end        407578 non-null  object
 8   Longitude_end    407578 non-null  float64
 9   inside           407578 non-null  bool
 10  Weekend          407578 non-null  bool
 11  Weekend_End      407578 non-null  bool
dtypes: bool(3), datetime64[ns](2), float64(4), int64(1), object(2)
memory usage: 29.2+ MB

In [69]:
duration_td = (df['End Time'] - df['Start Time'])
duration_td.head(30)

0    00:03:00
1    00:03:00
2    00:16:00
3    00:08:00
4    00:07:00
5    00:02:00
6    00:09:00
7    00:03:00
8    00:15:00
9    00:57:00
10   00:12:00
11   00:27:00
12   00:41:00
13   00:08:00
14   00:16:00
15   00:07:00
16   00:11:00
17   00:16:00
18   00:14:00
19   00:21:00
20   00:22:00
21   00:12:00
22   00:05:00
23   00:04:00
24   00:03:00
25   00:07:00
26   02:41:00
27   00:02:00
28   03:10:00
29   00:02:00
dtype: timedelta64[ns]

In [80]:
start = pd.to_datetime('2020-05-10 11:45:00')
end = pd.to_datetime('2020-05-11 11:45:00')
test_dur = (end - start).total_seconds() / 3600.0
test_dur

24.0

In [73]:
duration = duration_td.dt.total_seconds() / 60.0
duration

0          3.0
1          3.0
2         16.0
3          8.0
4          7.0
          ...
407573     8.0
407574     7.0
407575     2.0
407576     2.0
407577     5.0
Length: 407578, dtype: float64

In [57]:
duration.max()

Timedelta('0 days 23:27:00')

In [58]:
duration.min()

Timedelta('0 days 00:02:00')